:root {
  /* --main-text-color : #fff; */
  /* --main-bg-color : #fff; */
  /* --main-font-size : 16px; */
  /* --main-font-weight : 400; */
  /* --main-line-height : 1.5; */
}

/* GENERAL */

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  /* font-family: "Roboto", "Arial", sans-serif; */
  /* font-size: 16px; */
  /* font-weight: 400; */
  /* line-height: var(--main-line-height); */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container {
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* STICKY-FOOTER */
.site-main {
  flex-grow: 1;
}

.s1 {
  background-image: linear-gradient(233.67deg, rgba(97, 176, 220, 0.13) 14.75%, rgba(87, 160, 201, 0.84) 87.2%);
  margin-bottom: 100px;
  padding: 200px 0;
}

.s1_form-box {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 35px 77px 50px 77px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(87, 160, 201, 0.84);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.s1_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.s1_input {
  width: 100%;
  margin: 20px 0;
  padding: 6px auto;
}

.s1_button {
  padding: 10px 55px;
  background: #7FB4D3;
  opacity: 0.8;
  border: 0.5px solid #61B0DC;
  border-radius: 8px;
}

#s2 {
  background-image: linear-gradient(233.67deg, rgba(97, 176, 220, 0.13) 14.75%, rgba(87, 160, 201, 0.84) 87.2%);
  padding: 200px 0;
}

.s2_form-box {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 35px 77px 50px 77px;
  background-color: rgba(255, 255, 255, 0.8);
}
.s2_form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.s2_title {
  width: 100%;
  margin-bottom: 16px;
}
label {
  width: 50%;
  margin-bottom: 22px;
}
.gender {
margin-bottom: 50px;
}
.s2_button {
  width: 80%;
  padding: 7px 0;
  background: linear-gradient(269.56deg, rgba(97, 176, 220, 0.84) 41.1%, rgba(97, 176, 220, 0.1092) 101.63%);
  border: 0.5px solid #61B0DC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}